@import 'reset';

html {
  font-size: 1vw;
  font-family: 'Archivo Narrow', sans-serif;
}

//Główny kontener
.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  .main-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #1d1c1f;
    display: flex;
    flex-direction: column;
  }
}

//Pasek nawigacyjny
.nav-container {
  width: 80%;
  margin: 0 auto;
  height: 5vh;
  display: flex;
  flex-direction: row;
  background-color: #565559;
  font-size: 1.5rem;

  .nav-element {
    width: 12vw;
    height: 5vh;
    margin-left: 1vw;
    display: flex;
    align-items: center;

    &:link {
      text-decoration: none;
      color: #ffffff;
    }

    &:visited {
      color: #ffffff;
    }

    &:hover {
      color: #000000;
      cursor: pointer;
    }

    &:focus {
      color: #000000;
    }
  }
}

//Nowy charakter

.new-character-container {
  color: white;
  display: flex;
  flex-direction: column;

  .options {
    display: flex;
    flex-direction: row;

    .attributes-container {
      display: flex;
      flex-direction: column;
      width: 45%;
      text-align: right;
    }

    .new-character-form {
      display: flex;
      flex-direction: column;
      text-align: right;

    }

    span {
      width: 30%
    }

    input {
      width: 60%
    }

    .attr {
      width: 20%
    }

    select {
      width: 60%
    }

    .abilities-to-select {
      width: 40%
    }

    button {
      width: 20%
    }
  }
}

.chosen-options {
  display: flex;
  flex-direction: row;

  .chosen-abilities-container {
    width: 50%
  }

  textarea {
    width: 50%
  }
}

.all-characters-container {
  color: white
}


